@model List<UserRoleViewModel>

<div class="m-0 mt-3 mb-2 d-flex justify-content-between">
    <h3>Потребители</h3>
    <input type="text" id="searchInput" class="form-control mb-3" style="margin-left: 20px;" placeholder="Търси по имейл..." />
</div>

<table class="table table-bordered" id="usersTable">
    <thead>
    <tr>
        <th>Потребител</th>
        <th>Роля</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var submodel in Model)
    {
        <tr>
            <td>@submodel.User.Email</td>
            <td>@(submodel.IsAdmin ? "Администратор" : "Потребител")</td>
            <td>
                @if (!submodel.IsAdmin)
                {
                    <a class="btn btn-info" data-bs-toggle="modal" data-bs-target="#roleModal" data-item-name="@($" потребителя {submodel.User.Email}")" data-role-url="@($"/AdminUsers/MakeAdmin/{submodel.User.Id}")" style="color: #fff;">
                        Направи админ
                    </a>
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-item-name="@($" потребителя {submodel.User.Email}")" data-delete-url="@($"/AdminUsers/Delete/{submodel.User.Id}")" style="color: #fff;">
                        Изтрий
                    </a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>