@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<AirlineCompany.Models.Destination>

<div class="d-flex mt-2 mb-2">
    <h2>Дестинации</h2>
    <a asp-action="Update" class="btn btn-primary" style="margin-left: 20px;">Добави нова дестинация</a>
</div>

<table class="table table-bordered">
    <tr>
        <th>Град</th>
        <th>Държава</th>
        <th>Летище</th>
        <th>Действия</th>
    </tr>
    @foreach (var destination in Model)
    {
        <tr>
            <td>@destination.CityName</td>
            <td>@destination.CountryName</td>
            <td>@destination.AirportName</td>
            <td>
                <a class="btn btn-warning" asp-action="Update" asp-route-id="@destination.Id" style="color: #fff;">Редактирай</a>
                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-item-name="@($" дестинацията {destination.CityName} ({destination.AirportName}) - {destination.CountryName}")" data-delete-url="@($"/Destinations/Delete/{destination.Id}")" style="color: #fff;">
                    Изтрий
                </a>
            </td>
        </tr>
    }
</table>