@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<AirlineCompany.Models.Destination>

<div class="m-0 mt-3 mb-2 d-flex justify-content-between">
    <h3>Дестинации</h3>
    <input type="text" id="searchDestinationsInput" class="form-control mb-3" style="margin-left: 20px;" placeholder="Търси по град..." />
    <select id="countryFilter" class="form-control form-select" style="width: 200px; margin-left: 20px;">
        <option value="">Всички държави</option>
        @foreach (var country in Model.Select(d => d.CountryName).Distinct().OrderBy(c => c))
        {
            <option value="@country">@country</option>
        }
    </select>
    <a asp-action="Create" class="btn btn-success" style="margin-left: 20px; height: fit-content;">Добави нова дестинация</a>
</div>

<table class="table table-bordered" id="destinationsTable">
    <tr>
        <th>Град</th>
        <th>Държава</th>
        <th>Летище</th>
        <th>Действия</th>
    </tr>
    @foreach (var destination in Model)
    {
        <tr>
            <td>@destination.CityName</td>
            <td>@destination.CountryName</td>
            <td>@destination.AirportName</td>
            <td>
                <a class="btn btn-info" asp-action="Update" asp-route-id="@destination.Id" style="color: #fff;">Редактирай</a>
                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-item-name="@($" дестинацията {destination.CityName} ({destination.AirportName}) - {destination.CountryName}")" data-delete-url="@($"/Destinations/Delete/{destination.Id}")" style="color: #fff;">
                    Изтрий
                </a>
            </td>
        </tr>
    }
</table>